
.Board {
    position: relative;
    margin: 0 auto;
    background-color: white;
}

.Cell {
    background: #ccc;
    position: absolute;
}

.controls {
    margin-top: 20px;
}

.button {
    margin: 2% 0;
    padding: 1%;
    background-color: teal;
    color: white;
    margin-left: 12px;
    cursor: pointer;
}
#importForms {
    position: relative;
    margin-left: 12px;
    padding: 5%;
    background-color: white;
    color: teal;
}
